body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #667eea, #764ba2);
}

.app-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards-container {
  display: flex;
  gap: 30px;
}

/* COMMON CARD HEADER */
.card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.card-header img {
  width: 45px;
  margin-bottom: 5px;
}

/* LEFT CARD */
.todo-card {
  background: #e6f0ff;
  padding: 25px;
  width: 320px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

/* RIGHT CARD */
.task-card {
  background: #fff7e6;
  padding: 25px;
  width: 320px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.todo-card h2,
.task-card h3 {
  text-align: center;
  color: #333;
  margin: 0;
}

.input-group {
  display: flex;
  gap: 10px;
}

.input-group input {
  flex: 1;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
}

.input-group button {
  padding: 10px 15px;
  background: #4f46e5;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.input-group button:hover {
  background: #4338ca;
}

.task-count {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 600;
  color: #555;
}

.task-list {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.task-item {
  background: #ffffff;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 10px;
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-btn img {
  width: 18px;
  height: 18px;
}

.delete-btn:hover img {
  transform: scale(1.1);
}


.card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-bottom: 15px;
}

.card-header img {
  width: 40px;
  height: 40px;
}

.completed {
  text-decoration: line-through;
  color: #9ca3af;
}

.edit-input {
  flex: 1;
  padding: 6px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.save-btn {
  background: #22c55e;
  border: none;
  color: white;
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;
}

.task-actions {
  display: flex;
  gap: 6px;
}

.icon-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

